.container {
    display: flex;
    width: 100%;
    font-weight: 700;
    flex-wrap: nowrap;
}
p {
    text-align: center;
}

header {
    background-color: grey;
}

.basic-part {
    display: flex;
    flex-direction: row;
    width: 70vw;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(228, 228, 151);
}

.basic-part1,
.basic-part2,
.basic-part3 {
    width: 60vw;
    margin: 10px;
    padding: 10px;
    background-color: rgb(239, 197, 120);
}

.footer-part1,
.footer-part2,
.footer-part3,
.footer-part4 {
    width: 55vw;
    background-color: white;
    justify-content: space-evenly;
    margin: 10px;
}


.base-side {
    background-color: rgb(103, 166, 103);
    width: 40vw;
}

footer {
    width: 100vw;
    background-color: grey;
    padding: 15px;
    flex-wrap: nowrap;
}